.btn-custom {
  font-size: 2em;
  background-color: #3498db;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.5em 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.btn-custom:hover {
  transform: translate(2px,2px);
  box-shadow: none;
}
.nueva {
  background-color: #c9e9ff;
}  
.btn-custom:hover {
  transform: translateY(-5px);
  transition: transform 0.5s ease;
}
#wheel {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url('ruta/a/imagen.jpg');
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
