<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hydrómetra Car</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-color: #e1f5fe;
        }
        
        #mensaje {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div style="background-color: #ADD8E6; text-align: center; padding-top: 50px;">
        <h1>Hydrómetra Car</h1>
        <a href="/nueva"><button class="btn-custom">Entrar</button></a>
    </div>
</body>
</html>
