<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hydrómetra Car - Nueva</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='script.js') }}">
    <script src="/static/js/wheelnav-1.7.1/js/dist/wheelnav.min.js"></script>
    <style>
      body {
        background-color: #c9e9ff;
      }
      #wheel {
        width: 400px;
        height: 400px;
        margin: 0 auto;
      }
      
    </style>
  </head>
  <body>
    <div class="nueva" id="mensaje">
      <h1>Nueva</h1>
    </div>
    <div class="section" id="section1">
      <h2>Sección 1</h2>
      <p>Texto de la sección 1...</p>
    </div>
    <div class="section" id="section2">
      <h2>Sección 2</h2>
      <p>Texto de la sección 2...</p>
    </div>
    <div class="section" id="section3">
      <h2>Sección 3</h2>
      <p>Texto de la sección 3...</p>
    </div>
    <div id="wheel"></div>
  </body>
</html>
